$navigation: #242a31

$accent: #ff503f

$white: #fff

$black: #000

$grey: #777

$grey-dots: #595959

$grey-counter: #adadad

$grey-transparent: rgba(#676767, .6)

$grey-border: #c8c8c8

$grey-breadcrumbs: #4B4B4B

$grey-activity: #d4d4d4;

$dashboard: #f1f1f1

$green: #aacc4e


