{% set
list = [
	{
		img: '/img/mark.png',
		name: 'Mark P.',
		message: 'add an Image into Worlda',
		when: 'today',
		time: '10:30 PM'
	},
	{
		img: '/img/marvin.png',
		name: 'Marvin S',
		message: 'add an Image into Worlda',
		when: 'today',
		time: '10:30 PM'
	},
	{
		img: '/img/sebastian.png',
		name: 'Sebastian K.',
		message: 'add an Image into Worlda',
		when: 'today',
		time: '10:30 PM'
	},
	{
		img: '/img/mark.png',
		name: 'Mark P.',
		message: 'add an Image into Worlda',
		when: 'today',
		time: '10:30 PM'
	},
	{
		img: '/img/philip.png',
		name: 'Philip O.',
		message: 'add an Image into Worlda',
		when: 'today',
		time: '10:30 PM'
	},
	{
		img: '/img/mark.png',
		name: 'Mark P.',
		message: 'add an Image into Worlda',
		when: 'today',
		time: '10:30 PM'
	},
	{
		img: '/img/benni.png',
		name: 'Benni I.',
		message: 'add an Image into Worlda',
		when: 'today',
		time: '10:30 PM'
	},
	{
		img: '/img/benni.png',
		name: 'Benni I.',
		message: 'add an Image into Worlda',
		when: 'today',
		time: '10:30 PM'
	},
	{
		img: '/img/benni.png',
		name: 'Benni I.',
		message: 'add an Image into Worlda',
		when: 'today',
		time: '10:30 PM'
	},
	{
		img: '/img/benni.png',
		name: 'Benni I.',
		message: 'add an Image into Worlda',
		when: 'today',
		time: '10:30 PM'
	}
]
%}
