.icon-atomic {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-board {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dots {
  width: 4.5em;
  height: 1em;
  fill: initial;
}
.icon-gear {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-hamburger {
  width: 1em;
  height: 1em;
  fill: initial;
}
